@page
@model CapacitacionesModel
@{
    ViewData["Title"] = "Avance de capacitaciones";
    var progreso1 = Model.Progresos[0];
    var progreso2 = Model.Progresos[1];
    var progreso3 = Model.Progresos[2];
    var lista1 = Model.ObtenerEstadoEstrellas(progreso1.EstrellasObtenidas);
    var lista2 = Model.ObtenerEstadoEstrellas(progreso2.EstrellasObtenidas);
    var lista3 = Model.ObtenerEstadoEstrellas(progreso3.EstrellasObtenidas);
}

<body>
    <h1 class="color_letras cal-sans-regular">@ViewData["Title"]</h1>
    <div class="d-flex align-items-center">
        <img src="https://previews.123rf.com/images/spaxia/spaxia1206/spaxia120600038/14011204-sonrisa-hombre-trabajador-de-la-construcci%C3%B3n-aislada-en-blanco.jpg" alt="Foto de Trabajador" class="rounded-circle me-3" width="150" height="150">
        <figure class="mb-0">
            <blockquote class="blockquote">
                <p class="fs-2 cal-sans-regular">Diego Garcia</p>
            </blockquote>
            <figcaption class="blockquote-footer fs-3">
                Líder de Tienda
            </figcaption>
        </figure>
    </div>
    <br />

    <div class="mb-4">
        <h4 class="fw-bold">Minijuego 1 </h4>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="progress barra flew-grow-1 me-3">
                <div class="progress-bar bg-warining text-dark barra-cap" style="width:@Model.ObtenerPorcentajeBarra(progreso1.EstrellasObtenidas)">
                    @progreso1.EstrellasObtenidas / 3
                </div>
            </div>
            <div class="mt-2 estrella-cap">
                @for (int i = 0; i < lista1.Count; i++)
                {
                    if (lista1[i])
                    {
                        <img src="~/imagenes/Estrella.jpeg" alt="Estrella" class="img-fluid mx-2 estrella">
                    }
                    else
                    {
                        <img src="~/imagenes/EstrellaVacia.jpg" alt="Estrella" class="img-fluid mx-2 estrella">
                    }
                }
            </div>
        </div>
    </div>
    <div class="mb-4"></div>
        <h4 class="fw-bold">Minijuego 2</h4>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="progress barra flew-grow-1 me-3">
                <div class="progress-bar bg-warining text-dark barra-cap" style="width:@Model.ObtenerPorcentajeBarra(progreso2.EstrellasObtenidas)">
                    @progreso2.EstrellasObtenidas / 3
                </div>
            </div>
            <div class="mt-2 estrella-cap">
                @for (int i = 0; i < lista2.Count; i++)
                {
                    if (lista2[i])
                    {
                        <img src="~/imagenes/Estrella.jpeg" alt="Estrella" class="img-fluid mx-2 estrella">
                    }
                    else
                    {
                        <img src="~/imagenes/EstrellaVacia.jpg" alt="Estrella" class="img-fluid mx-2 estrella">
                    }
                }
            </div>
        </div>
    </div>
    <div class="mb-4"></div>
        <h4 class="fw-bold">Minijuego 3</h4>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="progress barra flew-grow-1 me-3">
                <div class="progress-bar bg-warining text-dark barra-cap" style="width:@Model.ObtenerPorcentajeBarra(progreso3.EstrellasObtenidas)">
                    @progreso3.EstrellasObtenidas / 3
                </div>
            </div>
            <div class="mt-2 estrella-cap">
                @for (int i = 0; i < lista3.Count; i++)
                {
                    if (lista3[i])
                    {
                        <img src="~/imagenes/Estrella.jpeg" alt="Estrella" class="img-fluid mx-2 estrella">
                    }
                    else
                    {
                        <img src="~/imagenes/EstrellaVacia.jpg" alt="Estrella" class="img-fluid mx-2 estrella">
                    }
                }
            </div>
        </div>
    </div>
</body>