@page
@model EmpleadosModel
@{
    ViewData["Title"] = "Estadisticas de Lider de Tienda";
}

<body>
    <h1 class="color_letras cal-sans-regular">@ViewData["Title"]</h1>
    <div class="d-flex align-items-center">
        <img src="https://previews.123rf.com/images/spaxia/spaxia1206/spaxia120600038/14011204-sonrisa-hombre-trabajador-de-la-construcci%C3%B3n-aislada-en-blanco.jpg" alt="Foto de Trabajador" class="rounded-circle me-3" width="150" height="150">
        <figure class="mb-0">
            <blockquote class="blockquote">
                <p class="fs-2 cal-sans-regular">Diego Garcia</p>
            </blockquote>
            <figcaption class="blockquote-footer fs-3">
                Líder de Tienda
            </figcaption>
        </figure>
    </div>
    <br />
</body>