@page
@model PersonajeModel
@{
    ViewData["Title"] = "Personalización y Canje";
}

<body>
    <div>
        <!-- Botón de ayuda arriba-->
        <button class="botonayuda" title="este boton aun no sirve">?</button>
    </div>
    <div class="layout-principal">
    <!-- Columna izquierda -->
    <div class="columna-izquierda">
        <h1 class="color_letras cal-sans-regular">@ViewData["Title"]</h1><br>
        <div class="d-flex contenedor2">
            <img src="https://previews.123rf.com/images/spaxia/spaxia1206/spaxia120600038/14011204-sonrisa-hombre-trabajador-de-la-construcci%C3%B3n-aislada-en-blanco.jpg" alt="Foto de Trabajador" class="rounded-circle me-3" width="150" height="150">
            <figure class="mb-0">
                <blockquote class="blockquote">
                    <p class="fs-2 cal-sans-regular">Diego Garcia</p>
                </blockquote>
                <figcaption class="blockquote-footer fs-3">
                    Líder de Tienda
                </figcaption>
            </figure>
        </div>
        <br>
        <br>
        <h3>Elegir Personaje</h3>
        <div class="contenedor">
            <div class="elemento"><button onclick="location.href='https://www.facebook.com'"><img src="imagenes/Personaje3PW.png" alt=""></button></div>
            <div class="elemento"><button onclick="location.href='https://www.facebook.com'"><img src="imagenes/Personaje2PW.png" alt=""></button></div>
            <div class="elemento"><button onclick="location.href='https://www.facebook.com'"><img src="imagenes/Personaje4PW.png" alt=""></button></div>
            <div class="elemento"><button onclick="location.href='https://www.facebook.com'"><img src="imagenes/Personaje1PW.png" alt=""></button></div>
        </div>
    </div>

    <!-- Columna derecha -->
    <div class="columna-derecha">
        <div>
        <h3>Elegir Música del Menú</h3>
            <div class="contenedor3">
              <div><button onclick="location.href='https://www.youtube.com'"><img class="imagenes-musica" src="imagenes/Musica.jpg" alt=""></button></div>
              <div><button onclick="location.href='https://www.youtube.com'"><img class="imagenes-musica" src="imagenes/Musica.jpg" alt=""></button></div>
              <div><button onclick="location.href='https://www.youtube.com'"><img class="imagenes-musica" src="imagenes/Musica.jpg" alt=""></button></div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <div>
        <h3>Recompensas</h3>
        <ul>
            <li><a class="links" href="CanjeRecompensas">Tiempo Aire</a></li>
            <li><a class="links" href="CanjeRecompensas">Puntos Spin</a></li>
            <li><a class="links" href="CanjeRecompensas">Cupones</a></li>
        </ul>
        </div>
    </div>
</div>

</body>

<style>
    /* Estilos para el contenedor de personajes */
    .contenedor {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Crea dos columnas iguales */
      grid-template-rows: repeat(2, 1fr); /* Crea dos filas iguales */
      gap: 30px; /* Agrega espacio entre las celdas de la cuadrícula */
      width: 500px; /* Define el ancho del contenedor */
      height: 500px;
    }

    .elemento {
      align-items: center;
      padding: 10px; /* Agrega padding para ver mejor los elementos */
    }

    .contenedor2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Crea dos columnas iguales */
      gap: 30px; /* Agrega espacio entre las celdas de la cuadrícula */
      width: 500px; /* Define el ancho del contenedor */
      height: 200px;
    }


    .layout-principal {
      display: flex;
      gap: 40px;
      padding: 20px;
    }

    .columna-izquierda {
      flex: 1; /* Que ocupe solo lo que necesita */
    }

    .columna-derecha {
      flex: 1; /* Que ocupe el resto del ancho disponible */
      padding: 50px;
    }

    .botonayuda {
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: #f1f1f1;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 20px;
      font-weight: bold;
      color: #333;
      cursor: pointer;
      z-index: 999;
    }

    .botonayuda:hover {
    background-color: #e0e0e0;
    }

    button {
      border: none; /* Quitar el borde */
      background: transparent; /* Fondo transparente */
      padding: 0; /* Quitar el relleno */
      font-family: inherit; /* Heredar la fuente del documento */
      font-size: inherit; /* Heredar el tamaño de fuente */
      color: inherit; /* Heredar el color del texto */
      cursor: pointer; /* Cambiar el cursor al pasar por encima (opcional) */
    }

    button:hover {
      background-color: #00ffff; /* Cambiar el color de fondo al pasar el mouse */
      size: 40px;
    }

    .contenedor3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* Opcional: tres columnas de igual tamaño */
    }
    .columna {
      /* Estilos para cada columna */
    }
    .imagenes-musica {
      width: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
      height: 100px;
    }
    .links {
      text-decoration: none; /* Quitar subrayado */
      color: #000000; /* Color del enlace */
      font-size: 25px; /* Tamaño de fuente */
    }
    .links:hover {
      color: #fc0000; /* Cambiar color al pasar el mouse */
    }
</style>