<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PaginaWebOxxo</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PaginaWebOxxo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/7425508e16.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Sidebar fija para todas las páginas -->

    <div class="sidebar">
        <br />
        <ul>
            <li><a href="Inicio"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="Lider"><i class="fas fa-user"></i>Líder de tienda</a></li>
            <li><a href="Empleados"><i class="fas fa-users"></i>Empleados</a></li>
            <li><a href="Capacitaciones"><i class="fa-regular fa-file-lines"></i>Capacitaciones</a></li>
            <li><a href="Personaje"><i class="fa-regular fa-chess-pawn"></i>Personalización</a></li>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Oxxo_Logo.svg/2560px-Oxxo_Logo.svg.png" width="187px"/></li>
        </ul>
    </div>

    <!-- Contenido dinámico -->
    <main role="main">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
